<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="telerik.web.ui">
      <section name="radScheduler" type="Telerik.Web.UI.RadSchedulerConfigurationSection" allowDefinition="MachineToApplication" requirePermission="false" />
      <section name="radCompression" type="Telerik.Web.UI.RadCompressionConfigurationSection" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PasswordstateConnectionString" connectionString="Data Source=ROBERT-WINDOWS\SQLEXPRESS;Initial Catalog=PWState;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SetupStage" value="Setup Complete" />
    <add key="PassiveNode" value="False" />
    <add key="Secret1" value="0d1-1-7ed8ad7f5f87f0ad6b99c564090d61e17e4d3cf07f9710f578bd3c6d6891b5cc8d1edfb0f9f109a8c1df50ac9c5917cbf2655425617dce0eb31334b8390f3cce" />
    <add key="Secret2" value="ed1-1-6c17d98c98b2df3ebec4877601c8643fa5f580b49e2bc5b74520353ba933f5245b7312b046c183c38ff946b24092f468a8e501f1c091238a065ff8196100982d3a87" />
    <add key="GUID1" value="1519c5f1-da35-4b89-8126-452bd602660d" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="/error/generalerror.aspx" />
    <xhtmlConformance mode="Strict" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- MachineKey is used to provide a common encryption key for viewStateEncryptionMode & enableViewStateMac to work on server farms.  Without it, each server will generate it's own key, which will not work across multiple servers. -->
    <machineKey decryption="AES" decryptionKey="3A5B21E2BF3A6D19EFC714549234CE30648A632E2D5D2E27" />
    <!-- Set compilation debug="true" to insert debugging symbols into the compiled page. Because this affects performance, set this value to true only during development. -->
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.SQLite,Version=1.0.92.0, Culture=neutral,PublicKeyToken=db937bc2d44ff139" />
        <add assembly="System.Management.Automation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" requestValidationMode="2.0" targetFramework="4.5" enableVersionHeader="false" />
    <httpHandlers>
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
    </httpModules>
    <identity impersonate="false" />
    <authentication mode="Windows" />
    <!-- We'll also encrypt ViewState for the entire application -->
    <pages validateRequest="true" viewStateEncryptionMode="Always" enableViewStateMac="true" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <!-- When RadCompression is enabled and you are using .NET 4.0, event handlers might not be raised in a default document in IIS 7 or IIS 7.5  Integrated Mode. To overcome this we set the flag preCondition="managedHandler" -->
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="managedHandler" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="Cache-Control" value="max-age=0, no-cache, must-revalidate" />
        <add name="Expires" value="Thu, 01 Jan 1970 00:00:00 GMT" />
        <add name="Pragma" value="no-cache" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Custom">
      <clear />
      <error statusCode="404" responseMode="ExecuteURL" path="/error/404.aspx" />
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMode="NoControl" />
    </staticContent>
  </system.webServer>
</configuration>